.post-preview__avatar {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background-color: #130019;
  color: var(--text);
  border-radius: 14px;
  padding: 1rem;
  text-align: left;
  max-width: 100%;
  overflow-wrap: break-word; 
  word-break: break-word;
  transition: linear 0.1s;
}

.card:hover {
  box-shadow: 0px 1px 6px 1px white;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
