.prose {
    text-align: left;
}

.prose h1 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.prose h2 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.prose h3 {
    color: var(--text-h);
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 3px;
}

.prose h4 {
    margin-top: 6px;
    margin-bottom: 3px;
}

.prose hr {
    margin-block: 30px;
}

tr td, tr th {
        padding-inline: 0.5rem;
}